# Exclude virtual environments
venv/
ENV/
env/
.venv/

# Exclude macOS hidden files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
\r

# Thumbnails
._*

# Files that might appear when opening a directory from the Finder
.Spotlight-V100
.Trashes

# Directories related to macOS system
.DS_Store
.fseventsd

# Robot test cases output files
robot-tests/*.html
robot-tests/*.xml
robot-tests/*.txt